.casa {
	width: 195px;
	height: 195px;
	border: solid 1px;
	float: left;
	cursor: pointer; 	
}


#jogo{
    width: 597px;
    height: 689px;
    border:solid 0px;
	background-image: url(img/fundojogo.png);
}


.st{
	width: 591px;
	height: 40px;
	border: solid 1px;
	float: left;


}
h1{
	font-size:x-large;
	display: block;
    margin-top: 10px;   
    font-weight: bold;
}
.centro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
body{
 	background-image: url(img/mabelepacifica.png);
 	background-size: 100% 100%;
}
.btn{
	font-family: arial;
	font-size: 14px;
	text-transform: uppercase;
	text-transform: 700;
	padding: 5px;
	border:none;
	cursor: pointer;
}
.btn2{
	background: #FF00FF;
	color: #fff;
	box-shadow:0 2px #3A01B2
}
.btn2:hover{
	background: #FFBBFF;
	color: #fff;
	box-shadow:0 2px #27017A;
}
.btn2:active{
	position: relative;
	top:2px;
	box-shadow:none;
}
.btn btn-success{
	background: #FF00FF;
	color: #fff;
	box-shadow:0 2px #3A01B2
	

